<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <form style="width: 18rem; margin: auto;" action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control bg-dark text-white" id="email" name="email" placeholder="Enter email">
              
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control bg-dark text-white" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
    </div>

    <%- include('../includes/end.ejs') %>