<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">

        <form class="form" action="/admin/add-product" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="Category">Category</label>
                <input type="text" class="form-control" name="category" id="category" placeholder="Enter category">
            </div>
            <div class="form-group">
                <label for="desciption">Description</label>
                <input type="text" class="form-control" name="description" id="desciption" placeholder="Enter desciption">
            </div>
            
            <div class="form-group">
                <label for="in_stock">In Stock</label>
                <input type="number" class="form-control" name="in_stock" id="in_stock" placeholder="Enter Stock detail">
            </div>

            <button type="submit" class="btn btn-primary">Add-Product</button>
        </form>
    </div>

    <%- include('../includes/end.ejs') %>