<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
    <a class="navbar-brand">Lab_Managment</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Browse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Order</a>
            </li>
            <li class="nav-item <%= path === '/admin/add-product' ? 'active' : '' %>">
                <a class="nav-link" href="/admin/add-product">Add Product</a>
            </li>
            <li class="nav-item <%= path === '/admin/products' ? 'active' : '' %>">
                <a class="nav-link" href="/admin/products">Admin Products</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>

    </div>
</nav>
&nbsp;&nbsp;