<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <h1>Rohan management system</h1>
    </div>
<%- include('../includes/end.ejs') %>